back
h1{
    color: rgb(67, 5, 182);
}
P{
    color: rgb(160, 119, 206);
    font-size: 20px;
    text-align: center;
}
h2{
    color: rgb(67, 5, 182);
}
h3{
    color: rgb(67, 5, 182);
}
h4{
    color: rgb(67, 5, 182);
}

